<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="https://mrafsyam.github.io/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="https://mrafsyam.github.io/">Home

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="http://kemaman.org">Portfolio</a>
      <a class="sidebar-nav-item" href="https://github.com/mrafsyam">GitHub</a>
      <span><small>I'm open for networking. Hit <a href="https://t.me/mrafsyam">me</a> up!</small></span> 
    </nav>
      
      <ul class="postList archive">
	{% for post in site.posts %}
	
		{% if post.next %}		
				{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
				{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
				{% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
				{% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
		{% endif %}
		
		{% if forloop.first %}				
				<!-- year -->
				<li><a href="/archives.html#{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</a>				
					<ul>
						<!-- month -->
						<li><a href="/archives.html#{{ post.date | date: '%Y-%B' }}">{{ post.date | date: '%B' }}</a>							
							<ul>			
		{% else %}
			<!-- all other posts -->								
				{% if year != nyear %}	
							</ul>
						</li>						
						<!-- /month -->	
					</ul>
				</li>
				<!-- /year -->
				<!-- year -->
				<li><a href="/archives.html#{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</a>				
					<ul>
						<!-- month -->
						<li><a href="/archives.html#{{ post.date | date: '%Y-%B' }}">{{ post.date | date: '%B' }}</a>							
							<ul>		
				{% elsif month != nmonth %}
							</ul>
						</li>						
						<!-- /month -->	
						<!-- month -->
						<li><a href="/archives.html#{{ post.date | date: '%Y-%B' }}">{{ post.date | date: '%B' }}</a>							
							<ul>												
				{% endif %}					
	   {% endif %}	
	   {% comment %}<li><a href="/{{ post.url }}">{{ post.title }}</a></li>	{% endcomment %}
	   
	   {% if forloop.last %}
	  						 </ul>
						</li>						
						<!-- /month -->	
					</ul>
				</li>
				<!-- /year -->		
	   {% endif %}
	{% endfor %}														
	</ul>	

    <p>&copy; {{ site.time | date: '%Y' }}. All Rights Reserved.</p>
  </div>
</div>
